{% extends "layout_content.html" %} 
{% load static %} 
{% load custom_filters %}
{% block content_title %} Phản hồi {% endblock %} 
{% block detail %}
<!-- Main content -->
<main class="flex-1 p-2 h-full">
  <!-- Header -->
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-2xl font-bold text-green-700">
      Bảng điều khiển yêu cầu và phản hồi
    </h1>
    {% include "header.html" with employee=context.employee %}
  </div>

  <!-- Request overview -->
  <div class="bg-white p-6 rounded-lg shadow-md">
    <div class="flex justify-between items-center mb-4">
      <div>
        Tổng: <span class="font-bold">{{context.info|length}} yêu cầu</span>
      </div>
      <button
        class="bg-sky-300 text-black p-2 rounded-lg hover:bg-sky-500 space-x-1 flex flex-row justify-center items-center w-20 h-6"
      >
        Lọc
        <img
          src="{% static 'img/filter.png' %}"
          alt="filter icon"
          class="w-4 h-4"
        />
      </button>
    </div>

    <!-- Request List -->
    <div class="flex flex-row w-full space-x-2">
      <!-- Left column (Request List) -->
      <div class="flex flex-row max-w-4/5">
        <div class="border rounded-lg p-4 shadow-md">
          <div class="flex mb-2">
            <span class="font-bold">Danh sách yêu cầu</span>
          </div>

          <ul class="max-h-96 overflow-y-auto">
            <!-- Request items -->
            {% for info in context.info %}
            <li id="{{forloop.counter}}"
              onclick="showOverview(this)"
              class="flex flex-row items-center space-x-2 hover:bg-sky-500 hover:rounded-xl p-2"
            >
              {{ info|json_script:forloop.counter}}
              <div class="w-1/2">
                <div class="font-semibold truncate">
                  {{info.service.service_name}}
                </div>
                <div class="text-sm text-gray-500">
                  {{info.customer.customer_name}}
                </div>
              </div>
              <div class="grid grid-cols-3 w-1/2 place-items-center">
                <div class="flex justify-end items-center space-x-1 h-4">
                  {% if info.feedback.status == 0 %}
                  <span class="bg-red-300 text-red-700 p-1 text-sm rounded-xl w-20 text-center">Hoãn lại</span>
                  {% elif info.feedback.status == 1 %}
                  <span class="bg-orange-300 text-orange-700 p-1 text-sm rounded-xl w-20 text-center">Đang xử lý</span>
                  {% else %}
                  <span class="bg-green-300 text-green-700 p-1 text-sm rounded-xl w-20 text-center">Đã xử lý</span>
                  {% endif %}
                </div>
                <div class="flex justify-end items-center space-x-1 h-4">
                  {% if info.feedback.prioritize == 0 %}
                  <span class="bg-yellow-300 text-yellow-700 p-1 text-sm rounded-xl w-20 text-center">Thấp</span>
                  {% elif info.feedback.prioritize == 1 %}
                  <span class="bg-sky-300 text-sky-700 p-1 text-sm rounded-xl w-20 text-center">Trung bình</span>
                  {% else %}
                  <span class="bg-red-300 text-red-700 p-1 text-sm rounded-xl w-20 text-center">Cao</span>
                  {% endif %}
                </div>
                <div class="w-full flex justify-end">
                  <button class="bg-green-300 w-20 text-center text-sm border rounded-xl p-1">
                    <a href="/feedback/{{info.feedback.request_id}}">Open</a>
                  </button>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- Right column (Request Details) -->
      <div id="overview" class="hidden w-1/3"></div>
    </div>
  </div>
</main>
<script>
    function showOverview(li) {
        const overview = document.getElementById("overview");
        overview.classList.remove('hidden');
        const data = li.querySelector('script').textContent;
        const json_data = JSON.parse(data);
        const options = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false // for 12-hour format
      };
        const content = `
          <div class="border rounded-lg p-4 shadow-md">
            <div class="flex flex-row justify-between">
              <div class="font-bold mb-4">Yêu cầu chi tiết</div>
              <button class="bg-green-500 text-white px-2 rounded-lg h-6">
                Xem chi tiết
              </button>
            </div>
            <div class="text-sm">
              <div class="mb-2 flex flex-col"><strong>Người dùng:</strong>${json_data.customer.customer_name}</div>
              <div class="mb-2 flex flex-col"><strong>Đã gửi:</strong>${new Date(`${json_data.feedback.request_date}`).toLocaleString('en-US', options)}</div>
              <div class="mb-2 flex flex-col"><strong>Tiêu đề yêu cầu:</strong> ${json_data.service.service_name}</div>
              <div>
                  <strong>Nội dung yêu cầu:</strong> 
                  <p class="truncate text-wrap">${json_data.feedback.request_content}</p>
              </div>
            </div>
          </div>
        `;

        overview.innerHTML = content;
    }
</script>
{% endblock %}
